.heading-line {
    padding: 10px 0;
    font-size: 45px;
    text-align: center;
    margin-bottom: 50px;
    color: #6fcb9f;

    .input-wrapper {
        display: flex;
        width: 80%;
        padding: 20px;
        justify-content: center;
        margin: 0 auto;

        input {
            width: 80%;
            height: 45px;
            outline: none;
            border: 1px solid #6fcb9f;
            border-radius: 8px 0 0 8px;
            font-size: 20px;
            padding: 5px 15px;


        }

        button {
            background-color: #6fcb9f;
            outline: none;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 45px;
            border: none;
            font-size: 18px;
            width: 50px;
            border-radius: 0 8px 8px 0;

        }

    }

}

.flexbox {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-bottom: 70px;

    .flexItem {
        background-color: #fff;
        border-radius: 6px;
        overflow: hidden;
        width: calc(100%/4 - 20px);

        .img-wrapper {
            margin-bottom: 10px;

            img {
                width: 100%;
            }

        }

        p {
            color: #29336b;
            padding: 0 15px;

        }
    }

}